.u-block-e519-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e519-5 {
  position: absolute;
  left: 0;
  background-image: none;
  width: 65px;
  height: 65px;
  right: auto;
  padding: 7px;
}

.u-block-e519-4 {
  position: absolute;
  right: 0;
  background-image: none;
  padding: 7px;
}

 .u-section-1-1 {
  background-image: url("images/f35ae7bf5c2df0f55c4ae85852d86450442cf02e68c6a75353c80cdec7781861ce217324e6ab221ad903db8eab48272cde47d08a919e5c448fcb5f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 974px;
}

.u-section-1-1 .u-text-1 {
  transition-duration: 0.5s;
  line-height: 1.6;
  width: 447px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 132px auto 0;
}

.u-section-1-1 .u-image-1 {
  width: 558px;
  height: 355px;
  box-shadow: 19px 21px 39px 0px rgba(128,128,128,0.99);
  filter: brightness(0.95);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 255px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 259px;
  }

  .u-section-1-1 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 131px;
    margin-left: auto;
  }

  .u-section-1-1 .u-image-1 {
    margin-top: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 134px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 344px;
    margin-top: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 126px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 217px;
    margin-top: 261px;
  }
}

.u-section-1-1 .u-text-1,
.u-section-1-1 .u-text-1:before,
.u-section-1-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}